FASTAPI_ENV="development"
DEV_DATABASE_URL="postgresql+asyncpg://{{DB_USER}}:{{DB_PASSWORD}}@localhost:8080/{{PROJECT_NAME}}-db"
PROD_DATABASE_URL=""
AUTH_SECRET=""
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=10
VERIFICATION_TOKEN_EXPIRE_MINUTES=60
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=10
ALGORITHM="HS256"
ALLOWED_ORIGINS=http://localhost:8000
VERSION="v1"
